/* width */
::-webkit-scrollbar {
    width: 10px;
    margin-right: 5px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#slideview {
    width: 90%;
    height: 40%;
    overflow-x: scroll;
    overflow-y: clip;
    padding: 2rem;
    margin: 1rem;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 0.5rem;
}

#slide-deck {
    display: flex;
    flex-direction: row;
}

#link-view {
    width: 30vw;
    height: 90vh;
}

#present-btn {
    position: sticky;
    bottom: 0;
    text-align: -webkit-right;
}