/* width */
::-webkit-scrollbar {
    width: 6px;
    margin-right: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#main-body {
    width: 100%;
}


#slideview {
    width: 55%;
    height: 85vh;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 0.5rem;
}

#vis-panel {
    width: 30%;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#ref-panel {
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 5rem;
    /* border-left: 1px solid #ccc;; */
}

#prompt-panel {
    height: 50%;
    margin-left: 0.5rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 3rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

#hierarchy-panel {
    height: 50%;
    overflow-y:scroll;
}

#slide-deck {
    display: flex;
    flex-direction: column;
}

#main-panel {
    display: flex;
    flex-direction: row;
}

#explore-view {
    width: 45%;
    display: flex;
    flex-direction: row;
}

#link-view {
    width: 30vw;
    height: 90vh;
    overflow-y: scroll;
}

#present-btn {
    position: sticky;
    bottom: 0;
    text-align: -webkit-right;
}