.sl-box {
    width: 24rem;
    height: 18rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    overflow-y: auto;
    flex-shrink: 0;
    position: relative;
}

.icon-edit:hover {
    color: #ff7f00;
    transition: 0.2s;
}

.icon-add:hover {
    color: #33a02c;
    transition: 0.2;
}

.icon-minus:hover {
    color: #e31a1c;
    transition: 0.2s;
}

.edit-icon {
    color: #cccccc;
    margin: 3px;
    cursor:pointer
}

.edit-icon-list {
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    justify-content: flex-end;
}